*,
*::before
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

.container-icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    gap: 1em;
    justify-content: center;   
}

.icon {
    max-width: 5%;
    min-width: 4%;
}

.text-icon {
    font-size: 1.5vw;
}

.index-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
    position: relative; 
}

.index-img {
    margin: 1em 2em -4em 2em;
    max-width: 140%;
    min-width: 100%;
}

.title {    
    background-color: #f3f3f3;   
    font-size: 2vw;
    line-height: 3.5vw;        
    margin-top: 43%;
    position: absolute; 
    text-align: center;
    width: 45%;      
  }

  .slogan {    
    background-color: #f3f3f3;   
    font-size: 1.5vw;
    line-height: 3Vw;        
    margin-top: 48%;
    position: absolute; 
    text-align: center;
    width: 45%;      
  }

  .links-container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    padding-top: 5%;
  }

  