*,
*::before
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

.container-icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    gap: 1em;
    justify-content: center;   
}

.icon {
    max-width: 5%;
    min-width: 4%;
}

.text-icon {
    font-size: 1.5vw;
}

.image-container {
    display: grid;  
    position:relative;
    justify-content: center;      
    margin-left: 1em;
    margin-right: 1em;      
    margin-bottom: 0.5em;
 } 
 
 .index-img {  
    max-width: 100%;
    min-width: 100%;
    
}   
 .title {   
  background-color: chocolate;
  color: white;
  font-size: 2vw;
  line-height: 180%;
  text-align: center;  
  width: 100%;  
 }

  .links-container {    
    display: grid;   
    gap: 1em;    
    grid-template-columns: repeat(3, 1fr);
    text-align: center;   
    margin-left: 1em;
    margin-right: 1em;
   
  }
  
  .link-chicken,
  .link-pork,
  .link-burger {
    color: black;
    content: "";
    display: inline-block;
    font-weight:800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5vw;    
    line-height: 2em;
    text-align: center; 
    text-decoration: none;  
    width: 100%;
  }

  .link-chicken {
    background-color: #F4ECC2;
  }

  .link-pork {
  background-color:#FFCF99;
  }

  .link-burger {
    background-color: #FFB045;
  }

  .container-recipe-img {
    display: grid;   
    gap: 1em;    
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1em;
    margin-right: 1em;    
  }

  .index-chicken,
  .index-pork,
  .index-burger {
    height: 100%;
    object-fit: cover;
    width: 100%;    
  }

 footer {
  background-color: chocolate;
  font-size: 0.8em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  text-align: center;  
 }    
 
 .link-allrecipes {
  color: #371300;
  font-weight: bold;
  text-decoration: none;

 }